// Initialise main color variables

$bg-grey        : #1A1A1A;
$img-grey       : #2E2E2E;
$font-grey      : #959595;
$img-font-grey  : #525252;
$hr-grey        : #2A2A2A;

// Initialise breakout area color variables

$bo-img-grey    : #E6E6E6;
$bo-header-grey : #3A3A3A;
$bo-font-grey   : #B3B3B3;

// Set page dimensions

$boxed-width    : 960px;

// Style base structure classes

body {
    background: $bg-grey;
    color: $font-grey;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 4em;
}

// Main content section

main {
    .white-bg {
        background: white;
    }
    section, nav {
        width: $boxed-width;
    }
    section + section {
        margin-top: 50px;
    }
}

// Navbar styles

nav {
    color: white;

    .navbar-brand {
        padding: 15px 25px;
        background: $img-grey;
        color: white;
        &:hover {
            color: white;
        }
    }

    .brand-name {
        letter-spacing: 3px;
    }
}

// Carousel styles

.carousel {
    .carousel-item {
        height: 500px;
        line-height: 500px;
        background: $img-grey;
    }
    .carousel-indicators {
        li {
            border-radius: 100%;
            height: 10px;
            width: 10px;
        }
    }
}

// Button styles

.btn {
    border-radius: 0;
    padding: 15px 50px;
}

// Image styles and placeholders

.img-full {
    width: 100%;
    height: 500px;
    background: $img-grey;
    border: none;
}

.img-half {
    width: 100%;
    height: 300px;
    background: $img-grey;
    border: none;
}

// Image zoom top corner button

.img-wrapper {
    position: relative;
    .zoom-btn {
        text-align: center;
        padding: 5px;
        color: white;
        margin: 15px;
        border: 1px solid white;
        width: 40px;
        font-size: 1.2em;
        position: absolute;
        right: 0;
    }
}

// grid styling

.grid .row + .row {
    margin-top: 30px;
}

// text area styling

.text {
    width: 60%;
}

// image caption styling

.caption {
    border-top: 1px solid white;
    text-align: right;
    padding: 20px 0px;
}

// breakout section

.breakout {
    text-align: left;
    padding: 3rem 0 0;
    margin: 3rem;
    .img-half {
        background: $bo-img-grey;
    }
}