// Initialise main color variables

$bg-grey        :#1A1A1A;
$img-grey       :#2E2E2E;
$font-grey      :#959595;
$img-font-grey  :#525252;
$hr-grey        :#2A2A2A;

// Initialise breakout area color variables

$bo-img-grey    :#E6E6E6;
$bo-header-grey :#3A3A3A;
$bo-font-grey   :#B3B3B3;

// Style base structure classes

body {
    background: $bg-grey;
    color: $font-grey;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 4em;
}