// Initialise main color variables

$bg-grey        :#1A1A1A;
$img-grey       :#2E2E2E;
$font-grey      :#959595;
$img-font-grey  :#525252;
$hr-grey        :#2A2A2A;

// Initialise breakout area color variables

$bo-img-grey    :#E6E6E6;
$bo-header-grey :#3A3A3A;
$bo-font-grey   :#B3B3B3;

// Style base structure classes

body {
    background: $bg-grey;
    color: $font-grey;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 4em;
}

// Main content section

main {
    width: 960px;
    section {
        margin: 30px 0;
    }
}

// Navbar styles

nav {
    color: white;

    .navbar-brand {
        padding: 15px 25px;
        background: $img-grey;
        color: white;
        &:hover {
            color: white;
        }
    }

    .brand-name {
        letter-spacing: 3px;
    }
}

// Carousel styles

.carousel {
    .carousel-item {
        height: 500px;
        line-height: 500px;
        background: $img-grey;
    }
    .carousel-indicators {
        li {
            border-radius: 100%;
            height: 10px;
            width: 10px;
        }
    }
}